*{
    background-color:rgb(40, 11, 146) ;
}
.ul{
    justify-content: center;
}
.cta
{
  text-align: center;
}

.footer{
    background-color:rgb(40, 11, 146) ;
    justify-content: center;
}