
*{
    background-color:rgba;
}
.ul{
    justify-content: center;
}
.cta
{
  text-align: center;
}

.footer{
    background-color:rgb(36, 21, 100) ;
    justify-content: center;
}
.certificate-image {
    width: 120%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s ease;
    align-items: center
}

.certificate-images:hover {
    position: absolute;
    z-index: 1;
    transform: scale(2.5)
}
